xcuserdata/
bin/*
!bin/themes
!bin/intlive
bin/intlive/log/
tmp/
ipch/
*.tlog/
Thumbs.db
lavaagnt.txt
lava.ini
.DS_Store
*.[ao]
*.lib
*.dll
*.obj
*.sbr
*.log
*.idb
*.aps
*.bin
*.exe
*.exp
*.ilk
*.pdb
*.dmp
*.sdf
*.opensdf
*.suo
*.bsc